/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end style reset */

@font-face {
	font-family: 'Roboto';
	font-weight: 400;
	src: url('/fonts/Roboto-Regular.ttf');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 500;
	src: url('/fonts/Roboto-Medium.ttf');
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	background-color: #f2f2f2;
}

.wrapper {
	max-width: 500px;
	margin: 20px auto;
	font-size: 1em;
	line-height: 1.5em;
	min-height: 500px;
	background-color: #fff;
	padding: 40px 20px;
	border-radius: 5px;
}

a, a:visited {
	color: #0D76BD;
}
a:hover {
	color: #0B65A1;
}

p {
	margin-bottom: 20px;
}

h1 {
	font-size: 1.2em;
	font-weight: 500;
	margin-bottom: 20px;
}

form {
	border-top: 1px solid #ccc;
	padding-top: 30px;
	margin-top: 30px;
}

.demoNote span{
	padding: 5px 10px;
	background-color: #C6E6FB;
	border-radius: 5px;
}

.midPageForm {
	border-bottom: 1px solid #ccc;
	padding-bottom: 30px;
	margin-bottom: 30px;
}

.errorBox {
	background-color: #E45D6A;
	padding: 10px 15px ;
	border-radius: 5px;
	margin: 0 0 30px 0;
	color: #fff;
}

.message, .infoBox {
	background-color: #3B942E;
	padding: 10px 15px;
	border-radius: 5px;
	margin: 30px 0;
	color: #fff;
}

input:not([type=submit]) {
	margin: 5px 0;
	padding: 10px 10px;
	width: 300px;
	font-size: 1em;
	border-radius: 2px;
	border: 1px solid #ccc;
}

input:not([type=submit]):focus {
	background-color: #C6E6FB;
}

input[type=submit] {
	margin-top: 20px;
	padding: 10px 20px;
	background-color: #0D76BD;
	border: none;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1em;
}

input[type=submit]:hover {
	background-color: #0B65A1;
}
